on:
  push:
    branches:
      - master
  pull_request:
name: CI
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        release_type: [release, eap]
    env:
      RELEASE_TYPE: ${{ matrix.release_type }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Init Hermit
        run: ./bin/hermit env -r >> $GITHUB_ENV
      - name: Test
        run: |
          GRADLE_OPTS="-Xmx4g" gradle clean test --stacktrace
      - name: Get Test report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-reports-${{matrix.release_type}}
          path: |
            build/reports/tests/**/*
  verify_new:
    name: Verify Plugin Against Latest Releases
    runs-on: ubuntu-latest
    strategy:
      matrix:
        release_type: [ release, eap ]
    env:
      RELEASE_TYPE: ${{ matrix.release_type }}
      VERIFY_VERSIONS: new
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Init Hermit
        run: ./bin/hermit env -r >> $GITHUB_ENV
      - name: Plugin verification
        run: GRADLE_OPTS="-Xmx4g" gradle clean verifyPlugin --info
  verify_old:
    name: Verify Plugin Against Old Releases
    runs-on: ubuntu-latest
    env:
      RELEASE_TYPE: release
      VERIFY_VERSIONS: old
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Init Hermit
        run: ./bin/hermit env -r >> $GITHUB_ENV
      - name: Plugin verification
        run: GRADLE_OPTS="-Xmx4g" gradle clean verifyPlugin